<footer class="footer">
    <div class="row">
      <span class="footer footer-left">
        <h3><a href="{{ / | relative url }}">{{ site.title }}</a></h3>
      </span>
      <span class="footer footer-center">
        <h4><a href="#top">back to top</a></h4>
      </span>
      <span class="footer footer-right">
        <div class="social social-r1">
          <a class="btn btn-social-icon btn-envelope-o" href="mailto:shep.nathan.d@gmail.com">
            <span class="fa fa-envelope-o"aria-hidden="true"></span>
          </a>
          <a class="btn btn-social-icon btn-github-o" href="https://github.com/shepnathand">
            <span class="fa fa-github"></span>
          </a>
        </div>
        <div class="social social-r2">
          <a class="btn btn-social-icon btn-linkedin-o" href="https://www.linkedin.com/in/nathan-sheppard-5260765b">
            <span class="fa fa-linkedin"></span>
          </a>
          <a class="btn btn-social-icon btn-twitter-o" href="https://twitter.com/shepnathand">
            <span class="fa fa-twitter"></span>
          </a>
        </div>
      </span>
    </div>
</footer>