<!-- Default Statcounter code for portfolio
https://cocky-tereshkova-db197e.netlify.com/ -->
<script type="text/javascript">
var sc_project=12143344; 
var sc_invisible=1; 
var sc_security="74e9d594"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/12143344/0/74e9d594/1/"
alt="Web Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->