---
layout: default
---

{%- assign date_format = site.date_format | default: "%-d %b %Y " -%}

{% if page.cover %}
	<img src="{{ page.image }}" alt="Image missing!" style="display:none;">
	<div class="postCover" style='background-image: url("{{ page.cover }}")'></div>
{% endif %}

<div class="post">
	<div class="page-content">
		<h1 class="post-title" style="line-height: 15%;">{{ page.title }}</h1>
		<a class="metaData" style="font-size: 85%; margin-bottom: 300px;">{{ page.date | date: date_format }} {%- if page.author -%} — {{ page.author }} {%- endif -%}</a>
		<div style="margin-top: 30px;">
			{{ content }}
		</div>
		<div class="tag-container" style="display: inline; font-size: 85%; color: #777;"> 
			{% if page.tags.size > 0 %}
			tags: 
			{% for tag in page.tags %}
			<span id="tag" value="{{ tag }}"><a href="/blog/">{{ tag }}</a></span><a> </a>
			{% endfor %}
			{% endif %}
		</div>
	</div>
</div>